.footer {
    background-color: #dfbc8c;
    color: rgb(37, 37, 37);
    padding: 20px;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .social-icons a {
    color: rgb(39, 39, 39);
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #508565;
  }
